body{
    background:#222;
    color: #fff;
    margin: 0px;
    padding: 0px;
    text-align: center;
}

button{
    cursor: pointer;
}
button:hover{
    background: #00f;
    color: #fff;
}

.pop{
    position: absolute;
}

#Vue{
    margin: 10px;
    padding: 10px;
}

#Map{

    background: #555;

}

#Map>div{

    border: 1px solid #fff;
    background: #555;
    display: inline-block;
}

#Map>div.red{
    background: #f00;
}

#Map>div.blue{
    background: #00f;
}

#Map .player{
    position: absolute;
    margin: 3px;
    border: 1px solid #000;
    border-radius: 10px;
    background: #fff;
    
}

#Map .player.red{
    border-color: #f00;
    color: #f00;
}

#Map .player.blue{
    border-color: #00f;
    color:#00f;
}

div#Point{
    text-align: left;
    margin: 10px;
    padding: 10px;
    font-size: 20px;
    width: auto;
    display: flex;
}

div#VoiceWord{
    text-align: left;
    margin: 0px 10px 0px 10px;
    padding: 10px;
    font-size: 20px;
    width: auto;
    display: flex;
}

div#Menu{
    text-align: left;
    margin: 0px 10px 0px 10px;
    padding: 10px;
    font-size: 20px;
    width: auto;
    display: flex;
}